<h1>题干</h1>
<div style="font-weight: bold;font-size: 18px;color: #2F2F2F;margin-bottom: 10px;">一、这是一个大题题干。</div>
<div style="font-weight: 400;font-size: 14px;color: #2F2F2F;padding-left: 35px;margin-bottom: 10px;">1.这是一个小题的题干。
</div>
<div style="padding-left:35px">
    <h1><p><span style="color: #333333; font-family: 'Microsoft YaHei', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', Arial, sans-serif; font-size: 13px; background-color: #ffffff;">第二道简答题</span></p></h1>

    <div style="display: flex;padding: 10px 0;">
            <span
                    style="font-size: 14px;border-radius: 5px;border:#FF9983 solid 1px;margin-right: 10px;color: #FF9983;width: 28px;height: 28px;text-align: center;line-height: 28px;">正</span>
        <div
                style="font-size: 14px;border: 1px solid #DCDFE6;border-radius: 4px;padding: 10px;width: calc(100% - 40px);">
            这是答案，这是答案，这是答案，这是答案，这是答案，这是答案，这是答案，
            这是答案，这是答案，这是答案，这是答案，这是答案，这是答案，这是答案。
        </div>

    </div>
    <div style="display: flex;padding: 10px 0;">
            <span
                    style="font-size: 14px;border-radius: 5px;background-color: #FF9983;margin-right: 10px;color: #fff;width: 28px;height: 28px;text-align: center;line-height: 28px;">解</span>
        <div
                style="font-size: 14px;border: 1px solid #DCDFE6;border-radius: 4px;padding: 10px;width: calc(100% - 40px);">
            这是解析，这是解析，这是解析，这是解析，这是解析，这是解析，这是解析，
            这是解析，这是解析，这是解析，这是解析，这是解析，这是解析，这是解析。
        </div>
    </div>

    <h1>填空题</h1>


    <div style="display: flex;padding: 10px 0;">
            <span
                    style="font-size: 14px;border-radius: 5px;border:#FF9983 solid 1px;margin-right: 10px;color: #FF9983;width: 28px;height: 28px;text-align: center;line-height: 28px;">正</span>
        <div
                style="font-size: 14px;border: 1px solid #DCDFE6;border-radius: 4px;padding: 10px;width: calc(100% - 40px);">
            <div>
                1.这是答案，这是答案，这是答案，这是答案，这是答案，这是答案，这是答案。
            </div>
            <div>
                2.这是答案，这是答案，这是答案，这是答案，这是答案，这是答案，这是答案。
            </div>
        </div>

    </div>
    <div style="display: flex;padding: 10px 0;">
            <span
                    style="font-size: 14px;border-radius: 5px;background-color:#FF9983;margin-right: 10px;color: #fff;width: 28px;height: 28px;text-align: center;line-height: 28px;">解</span>
        <div
                style="font-size: 14px;border: 1px solid #DCDFE6;border-radius: 4px;padding: 10px;width: calc(100% - 40px);">
            <div>
                1.这是解析，这是解析，这是解析，这是解析，这是解析，这是解析，这是解析。
            </div>
            <div>
                2.这是解析，这是解析，这是解析，这是解析，这是解析，这是解析，这是解析。
            </div>
        </div>
    </div>


    <h1>选择题</h1>
    <form>
        <div
                style="margin: 10px 0;display: flex;align-items: center;padding: 7px 10px;;background: #F7F7F7;border: 1px solid #00A870;border-radius: 4px;line-height: 22px;">
            <input checked="checked" name="1" type="radio" value="aA" disabled="true" />
            <span style="flex: 1;font-size: 14px;color: rgba(0,0,0,0.20);margin-left: 10px;">
                    A.答案1答案1答案1答案1答案1答案1答案1答案1答案1答案1答案1答案1答案1
                    答案1答案1答案1答案1答案1答案1答案1答案1答案1答案1答案1答案1答案1
                </span>
        </div>

        <div
                style="margin: 10px 0;display: flex;align-items: center;padding: 7px 10px;;background: #F7F7F7;border: 1px solid #E2E2E2;border-radius: 4px;line-height: 22px;">
            <input name="1" type="radio" value="aB" disabled="true" />
            <span style="flex: 1;font-size: 14px;color: rgba(0,0,0,0.20);margin-left: 10px;">
                    B.答案2答案2答案2答案2答案2答案2答案2答案2答案2答案2答案2答案2答案2
                    答案2答案2答案2答案2答案2答案2答案2答案2答案2答案2答案2答案2答案2
                </span>
        </div>
    </form>
    <div style="display: flex;padding: 10px 0;">
            <span
                    style="font-size: 14px;border-radius: 5px;background-color: #FF9983;margin-right: 10px;color: #fff;width: 28px;height: 28px;text-align: center;line-height: 28px;">解</span>
        <div
                style="font-size: 14px;border: 1px solid #DCDFE6;border-radius: 4px;padding: 10px;width: calc(100% - 40px);">
            这是解析，这是解析，这是解析，这是解析，这是解析，这是解析，这是解析，
            这是解析，这是解析，这是解析，这是解析，这是解析，这是解析，这是解析。
        </div>
    </div>


    <h1>多选题</h1>
    <form>
        <div
                style="margin: 10px 0;display: flex;align-items: center;padding: 7px 10px;;background: #F7F7F7;border: 1px solid #00A870;border-radius: 4px;line-height: 22px;">
            <input checked="checked" name="1" type="checkbox" value="bA" disabled="true" />
            <span style="flex: 1;font-size: 14px;color: rgba(0,0,0,0.20);margin-left: 10px;">
                    A.答案1答案1答案1答案1答案1答案1答案1答案1答案1答案1答案1答案1答案1
                    答案1答案1答案1答案1答案1答案1答案1答案1答案1答案1答案1答案1答案1
                </span>
        </div>



        <div
                style="margin: 10px 0;display: flex;align-items: center;padding: 7px 10px;;background: #F7F7F7;border: 1px solid #E2E2E2;border-radius: 4px;line-height: 22px;">
            <input checked="checked" name="1" type="checkbox" value="bB" disabled="true" />
            <span style="flex: 1;font-size: 14px;color: rgba(0,0,0,0.20);margin-left: 10px;">
                    B.答案2答案2答案2答案2答案2答案2答案2答案2答案2答案2答案2答案2答案2
                    答案2答案2答案2答案2答案2答案2答案2答案2答案2答案2答案2答案2答案2
                </span>
        </div>
    </form>

    <div style="display: flex;padding: 10px 0;">
            <span
                    style="font-size: 14px;border-radius: 5px;background-color: #FF9983;margin-right: 10px;color: #fff;width: 28px;height: 28px;text-align: center;line-height: 28px;">解</span>
        <div
                style="font-size: 14px;border: 1px solid #DCDFE6;border-radius: 4px;padding: 10px;width: calc(100% - 40px);">
            这是解析，这是解析，这是解析，这是解析，这是解析，这是解析，这是解析，
            这是解析，这是解析，这是解析，这是解析，这是解析，这是解析，这是解析。
        </div>
    </div>


    <h1>判断题</h1>


    <div
            style="margin: 10px 0;display: flex;align-items: center;padding: 7px 10px;;background: #F7F7F7;border: 1px solid #00A870;border-radius: 4px;line-height: 22px;">
        <input checked="checked" name="1" type="radio" value="1" disabled="true" />
        <span style="flex: 1;font-size: 14px;color: rgba(0,0,0,0.20);margin-left: 10px;">
                A.对
            </span>
    </div>

    <div
            style="margin: 10px 0;display: flex;align-items: center;padding: 7px 10px;;background: #F7F7F7;border: 1px solid #E2E2E2;border-radius: 4px;line-height: 22px;">
        <input name="1" type="radio" value="1" disabled="true" />
        <span style="flex: 1;font-size: 14px;color: rgba(0,0,0,0.20);margin-left: 10px;">
                B.错
            </span>
    </div>
    <div style="display: flex;padding: 10px 0;">
            <span
                    style="font-size: 14px;border-radius: 5px;background-color: #FF9983;margin-right: 10px;color: #fff;width: 28px;height: 28px;text-align: center;line-height: 28px;">解</span>
        <div
                style="font-size: 14px;border: 1px solid #DCDFE6;border-radius: 4px;padding: 10px;width: calc(100% - 40px);">
            这是解析，这是解析，这是解析，这是解析，这是解析，这是解析，这是解析，
            这是解析，这是解析，这是解析，这是解析，这是解析，这是解析，这是解析。
        </div>
    </div>

    <h1>复合题</h1>


    <div style="font-weight: 400;font-size: 14px;color: #2F2F2F;padding-left: 10px;">1.(1)这是一个复合题的题干。</div>

    <div style="padding-left: 10px;">

        <h4>简答题</h4>

        <div style="display: flex;padding: 10px 0;">
                <span
                        style="font-size: 14px;border-radius: 5px;border:#FF9983 solid 1px;margin-right: 10px;color: #FF9983;width: 28px;height: 28px;text-align: center;line-height: 28px;">正</span>
            <div
                    style="font-size: 14px;border: 1px solid #DCDFE6;border-radius: 4px;padding: 10px;width: calc(100% - 40px);">
                这是答案，这是答案，这是答案，这是答案，这是答案，这是答案，这是答案，
                这是答案，这是答案，这是答案，这是答案，这是答案，这是答案，这是答案。
            </div>

        </div>
        <div style="display: flex;padding: 10px 0;">
                <span
                        style="font-size: 14px;border-radius: 5px;background-color: #FF9983;margin-right: 10px;color: #fff;width: 28px;height: 28px;text-align: center;line-height: 28px;">解</span>
            <div
                    style="font-size: 14px;border: 1px solid #DCDFE6;border-radius: 4px;padding: 10px;width: calc(100% - 40px);">
                这是解析，这是解析，这是解析，这是解析，这是解析，这是解析，这是解析，
                这是解析，这是解析，这是解析，这是解析，这是解析，这是解析，这是解析。
            </div>
        </div>

        <h4>填空题</h4>


        <div style="display: flex;padding: 10px 0;">
                <span
                        style="font-size: 14px;border-radius: 5px;border:#FF9983 solid 1px;margin-right: 10px;color: #FF9983;width: 28px;height: 28px;text-align: center;line-height: 28px;">正</span>
            <div
                    style="font-size: 14px;border: 1px solid #DCDFE6;border-radius: 4px;padding: 10px;width: calc(100% - 40px);">
                <div>
                    1.这是答案，这是答案，这是答案，这是答案，这是答案，这是答案，这是答案。
                </div>
                <div>
                    2.这是答案，这是答案，这是答案，这是答案，这是答案，这是答案，这是答案。
                </div>
            </div>

        </div>
        <div style="display: flex;padding: 10px 0;">
                <span
                        style="font-size: 14px;border-radius: 5px;background-color:#FF9983;margin-right: 10px;color: #fff;width: 28px;height: 28px;text-align: center;line-height: 28px;">解</span>
            <div
                    style="font-size: 14px;border: 1px solid #DCDFE6;border-radius: 4px;padding: 10px;width: calc(100% - 40px);">
                <div>
                    1.这是解析，这是解析，这是解析，这是解析，这是解析，这是解析，这是解析。
                </div>
                <div>
                    2.这是解析，这是解析，这是解析，这是解析，这是解析，这是解析，这是解析。
                </div>
            </div>
        </div>
    </div>
</div>